/*Empieza seccion general*/
body {
	background-color: #f1f1f1f1; /*rgb, hexadecimal o letras, rgba, el a es de opacidad*/
	height: 100%;
	margin: 0;
	padding: 0;
}

h1{
	color:#fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 50px;
	font-family: 'Anton', sans-serif;
}

header{
	background-color: #E86177;
	margin:0;
	padding: 0;
}

/*selectores descendientes*/
nav ul li {
	display: inline;/*los pone en la misma linea*/
	text-align: center;
	font-family: 'Righteous', cursive;
}

ul{
	list-style: none;
}

nav a,footer a{
	display: inline-block;/*da un ancho y un alto*/
	width: 130px;
	height: 20px;
	text-decoration: none;
	background-color: #509AC0;
	color: white;
}

li:hover a{
	background-color: rgb(128,128,0);
}

footer{
	font-family: 'Righteous', cursive;
	height: 120px;
	background-color: grey;
}

.active{
	background-color: #ccc;
	color: black;
	font-weight: bold;
}

h2{
	text-align: center;
	padding-top: 20px; 
}

.informacion-personal{
	text-align: center;
	width: 45%;
}

#imagen{
	width: 50%;
}

.informacion-justificada{
	text-align: center;
	width: 45%;
	text-align: justify;
}

#premios{
	width: auto;
	margin-left: 15%;
	margin-bottom: 15px;
}

table, th,td{
	border: 2px solid rgb(28,58,64);
	padding: 0 15px;
	border-collapse: collapse;

}

.celdaImagen{
	width: 200px;
	height: auto;
	text-align: center;
	border-left-style: hidden;

}

td img{
	width: 90%;
	padding-top: 5px;

}

tfoot{
	font-size: 25px;
	text-align: center;
}

#filmografia{
	width: auto;
	margin-left: 15%;
	margin-bottom: 15px;
}
/*Termina seccion general*/
